.App{
    text-align: right;
    font-family: sans-serif;
}

.linki {
    padding: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: all 0.3s;
}

.linki:hover {
    color: rgb(255, 0, 0);
}